$colorSelectSite: #f16d7f;
$widthSite: 1140px;
$backBlock: #222;
$colorText: #000;
$colorHeaderIcon: #e8e8e8;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid * 2) / 3;
$widthMenuBurger: 0;
$whiteColor: #fff;
$grayTextColor: #6f6e6e;
