@import "vars";
@import "extender";

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(0, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $backBlock;
    @extend %flex;
    justify-content: space-between;

    &__left {
        @extend %flex-center-y;
        gap: 41px;
    }

    &__right {
        @extend %flex-center-y;
        gap: 33px;
    }

    &__btn,
    &__forma,
    &__basket,
    &__search {
        color: $colorHeaderIcon;
        transition: scale 0.3s;
    }

    &__btn,
    &__basket,
    &__logo,
    &__search {
        cursor: pointer;
        transition: scale 0.3s;
    }

    &__btn:active,
    &__logo:active,
    &__search:active,
    &__basket:active {
        transform: scale(0.9);
    }

    &__basket {
        transition: scale 0.3s;
        position: relative;
    }

    #burger {
        position: absolute;
        visibility: hidden;

        &:checked ~ .menu {
            right: $widthMenuBurger;
        }
    }
}

.menu {
    position: absolute;
    z-index: 2;
    padding: 32px 0 32px 33px;
    top: 81px;
    right: -999px;
    width: 232px;
    background: $whiteColor;
    box-shadow: -7px 7px 22px 4px rgba(0, 0, 0, 0.1);

    &__title-h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        margin-bottom: 24px;
    }

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorSelectSite;
        margin-bottom: 12px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $grayTextColor;
        margin-bottom: 11px;
        margin-left: 20px;
        transition: all 0.7s;
        &:hover {
            text-decoration: underline;
            color: $colorText;
            font-weight: bold;
        }

        &:active {
            color: $colorSelectSite;
        }
    }

    &__man,
    &__woman,
    &__kids {
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-bottom: 20px;
    }
}

//Top

@keyframes pulse-regular {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.top {
    @extend %flex-center;
    background: #f1e4e6;
    max-height: 100vh;
    margin-bottom: 65px;

    &__img {
        display: flex;
        align-items: flex-start;
        max-height: 90%;
        margin-left: -20%;
        width: 44.4%;
        background-size: 33%;
        background-position-x: 10px;
    }

    .intro {
        @extend %flex-center-x;
        gap: 16px;
        animation: pulse-regular 2s ease 0s infinite normal backwards;

        &__line {
            width: 12px;
            height: 92px;
            background: $colorSelectSite;
            margin-top: 12px;
        }
        &__title-text {
            font-weight: 900;
            font-size: 48px;
            line-height: 57.6px;
            color: $backBlock;
        }

        &__title-text span {
            font-weight: 700;
            font-size: 32px;
            line-height: 38.4px;
        }

        &__title-text > span > span {
            color: $colorSelectSite;
        }
    }
}

// Main

.main {
    background: $whiteColor;
}

.offers {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 96px;

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;

        & > a {
            font-size: 16px;
            line-height: 19px;
            color: $whiteColor;
            text-align: center;
            text-decoration: none;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            text-transform: uppercase;
        }

        & span {
            font-size: 24px;
            color: $colorSelectSite;
            display: block;
            font-weight: 700;
            margin: 10px 0 0 0;
        }

        &-link {
            padding: 29.5% 0;
        }

        &-link-acces {
            padding: 5.8% 0;
        }
    }

    &__block:not(:last-child) {
        width: 31.58%;
        margin: 0 0 2.63% 0;
    }

    &__block:last-child {
        width: 100%;
    }

    &__woman {
        background: url(../img/bg_for.png), url(../img/for_women.jpg);
        background-size: cover;

        &:hover {
            transform: scale(1.2) translate(0px, -20px);
            transition: 0.7s;
        }
    }

    &__men {
        background: url(../img/bg_for.png), url(../img/for_men.jpg);
        background-size: cover;

        &:hover {
            transform: scale(1.2) translate(0px, -20px);
            transition: 0.7s;
        }
    }

    &__kids {
        background: url(../img/bg_for.png), url(../img/for_kids.jpg);
        background-size: cover;

        &:hover {
            transform: scale(1.2) translate(0px, -20px);
            transition: 0.7s;
        }
    }

    &__accesories {
        background: url(../img/bg_acces.png), url(../img/accesories.jpg);
        background-size: cover;

        &:hover {
            transform: scale(1.1) translate(0px, 20px);
            transition: 0.7s;
        }
    }
}
.product-box {
    @extend %flex-center-y;
    flex-direction: column;
    margin-bottom: 48px;

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $backBlock;
        margin-bottom: 6px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $grayTextColor;
        margin-bottom: 48px;
    }

    &__btn {
        padding: 14px 38px;
        border: 1px solid $colorSelectSite;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
        display: flex;
        justify-content: center;
        margin: 48px 0 95px 0;

        &:hover {
            background: $colorSelectSite;
            border: 1px solid $colorSelectSite;
            color: $whiteColor;
        }
        &:active {
            transform: scale(0.96);
        }
    }
}

.product-items {
    @extend %flex-center;
    flex-wrap: wrap;
    gap: $gapGrid;
}

.product {
    &__item {
        width: $thirdSite;
        display: flex;
        flex-direction: column;
        background-color: #f8f8f8;
    }

    &__wrapper {
        background: #f7e4e2;
        @extend %flex-center;
        width: $thirdSite;
        height: 420px;
    }

    &__item-img {
        object-fit: cover;
    }

    &__inner {
        position: relative;
        display: flex;
        cursor: pointer;
        &:hover .product__basket {
            @extend %flex-center;
        }
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(58, 56, 56, 0.86);
            opacity: 0;
            transition: opacity 0.7s;
            content: "";
        }
        &:hover::before {
            opacity: 1;
        }
    }

    &__basket {
        display: none;
        width: 138px;
        height: 43px;
        position: absolute;
        left: 30%;
        top: 45%;
        border: 1px solid $whiteColor;
        transition: all 0.3s;
        &:active {
            transform: scale(0.9);
            border: 1px solid $colorSelectSite;
        }
        &:active .product__basket-title {
            color: $colorSelectSite;
        }
        &:active .product__basket-svg path {
            fill: $colorSelectSite;
        }
    }

    &__basket-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $whiteColor;
    }

    &__basket-svg {
        margin-right: 11px;
    }

    &__items-item {
        background: $colorHeaderIcon;
    }

    &__content {
        padding: 25px 16px 19px 29px;
    }

    &__content-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
        margin-bottom: 16px;
    }

    &__content-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $grayTextColor;
        margin-bottom: 16px;
    }

    &__content-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
    }
}

// INFO

@keyframes wobble-hor-bottom {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.info {
    background: #222224;

    &__box {
        height: 341px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__offer {
        width: 360px;
        height: 134px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & h3 {
            font-size: 19.96px;
            line-height: 24px;
            font-weight: normal;
            color: #fbfbfb;
        }

        & p {
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            color: #fbfbfb;
            text-align: center;
        }
    }
    &__img-animation {
        animation: wobble-hor-bottom 3s infinite both;
    }
}

// Subscribe

.subscribe {
    background-image: url(../img/bg_footer.png), url(../img/footer.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    justify-content: space-between;

    &__info {
        @extend %flex-center;
        flex-direction: column;
    }

    &__info-img {
        margin-bottom: 38px;
    }

    &__info-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $backBlock;
        max-width: 360px;
    }

    &__promotion {
        @extend %flex-center;
        flex-direction: column;
        margin-right: 70px;
    }

    &__promotion-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: $backBlock;
    }

    &__promotion-text {
        font-weight: 400px;
        font-size: 18px;
        margin-bottom: 32px;
    }

    &__form {
        display: flex;
        width: 100%;
    }

    &__form-email {
        width: 74.4%;
        height: 49px;
        padding-left: 22px;
        background: #e1e1e1;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none;
    }

    &__form-email::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        @extend %flex-center-y;
        color: $backBlock;
        opacity: 0.67;
    }

    &__form-btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $whiteColor;
        padding: 0 8px;
        width: 29%;
        height: 49px;
        background: $colorSelectSite;
        border: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        translate: all 0.3s;
        &:active {
            transform: scale(0.96);
        }
    }
}

// Footer

.footer {
    background: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
    @extend %flex-center-y;
    justify-content: space-between;

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #fbfbfb;
    }

    &__social {
        display: flex;
        gap: 8px;
    }

    &__social-link {
        transition: all 0.7s;
        display: block;
        &:hover {
            background: $colorSelectSite;
        }
        &:hover path {
            fill: $whiteColor;
        }
        &:active path {
            transform: scale(0.86);
        }
        &:active {
            transform: scale(0.86);
        }
    }

    &__feacebook {
        padding: 8px 11.83px 9.28px 11.55px;
        background: $whiteColor;
    }

    &__instagram {
        padding: 9.06px 8.6px 8.06px 7.94px;
        background: $whiteColor;
    }
    &__pinterest {
        padding: 8.2px 9.6px 8.2px 9.93px;
        background: $whiteColor;
    }
    &__twitter {
        padding: 9.5px 7.61px 9.5px 7.95px;
        background: $whiteColor;
    }
}

// Top-head

.top-head {
    background: #fbf3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    @extend %flex-center-x;
    justify-content: space-between;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
    }
}

.breadcrumbs {
    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14;
        line-height: 17px;
        color: $grayTextColor;
        transition: all 0.7s;
        &:nth-child(n + 2)::before {
            padding: 3px;
            color: $grayTextColor;
            content: "\002F";
        }
        &:hover {
            color: $colorText;
            font-weight: bold;
        }
    }

    &__link_site {
        font-weight: 700;
        color: $colorSelectSite;
    }
}

// Product

.slider {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;

    &_arrow {
        background-color: #2a2a2a26;
    }

    &_img {
        padding-top: 11px;
        padding-bottom: 42px;
    }
}

.information {
    margin-top: -40px;
    margin-left: 15%;
    margin-bottom: 130px;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $whiteColor;
    border: 1px solid #eaeaea;

    &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.title_small {
    padding-top: 64px;
    padding-bottom: 12px;
    color: $colorSelectSite;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.line1 {
    width: 63px;
    height: 3px;
    background-color: $colorSelectSite;
}

.title_big {
    padding-top: 12px;
    padding-bottom: 48px;
    color: #4d4d4d;
    font-size: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.text {
    width: 550px;
    padding-bottom: 32px;
    color: $grayTextColor;
    text-align: center;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text_price {
    padding-bottom: 65px;
    color: $colorSelectSite;
    font-size: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.line2 {
    width: 640px;
    height: 1px;
    background-color: #eaeaea;
    color: #eaeaea;
}

.button {
    height: 50px;
    border: 1px solid black;
}

.products-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort {
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gapGrid;
    color: $grayTextColor;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 9px;
    }
}

.button_basket {
    width: 212px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 22px;
    margin-bottom: 64px;
    color: $colorSelectSite;
    border: 1px solid $colorSelectSite;
    background-color: white;
}

.button_basket:hover {
    color: white;
    background-color: $colorSelectSite;
}

// catalog
.catalog-box {
    @extend %flex-center-y;
    flex-direction: column;
    background: $whiteColor;
    padding-bottom: 96px;
}

.filter-sort {
    width: $widthSite;
    display: flex;
    gap: $gapGrid;
}

.filter-box,
.sort-box {
    height: 132px;
    display: flex;
    gap: $gapGrid;
    position: relative;
    width: $thirdSite - 40px;
    padding-top: 40px;
}

.filter {
    padding-top: 13px;
    box-sizing: border-box;
    z-index: 10;
    width: $thirdSite;

    &__summary {
        @extend %flex-center-y;
        gap: 11px;
        padding-left: 16px;
        cursor: pointer;
    }

    &__heading {
        color: $colorText;
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        transition: color 0.7s;
    }

    &__summary {
        width: 27%;
        &:hover .filter__heading {
            color: $colorSelectSite;
        }
        &:hover path {
            fill: $colorSelectSite;
        }
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__content {
        background: $whiteColor;
        padding: 13px 16px 16px;
    }

    &[open] {
        position: absolute;
        background: $whiteColor;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        animation: slide 0.7s ease-in-out;
    }

    &__head {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: 6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #ebebeb;
        border-left: 5px solid $colorSelectSite;
        cursor: pointer;
        margin-bottom: 18px;
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-left: 18px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    &__link {
        color: $grayTextColor;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        transition: all 0.7px;
        &:hover {
            text-decoration: underline;
            color: $colorText;
            font-weight: bold;
        }
    }
}

.sort {
    display: flex;
    gap: 28px;

    &__details {
        padding-top: 11px;
        position: relative;
    }

    &__summary {
        cursor: pointer;
        transition: all 0.7s;
        &:hover .sort__heading {
            color: $colorText;
            font-weight: 600;
        }
        &:hover path {
            fill: $colorText;
        }
    }

    &__heading {
        color: $grayTextColor;
        font-size: 14px;
        line-height: 17px;
        margin-right: 10px;
    }

    &__box-checks {
        background: $whiteColor;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        width: 79px;
        position: absolute;
        top: 33px;
        left: -9px;
        z-index: 2;
        padding: 12px 9px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__check {
        @extend %flex-center-y;
        gap: 9px;
        &:hover .sort__label {
            color: $colorText;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    &__input {
        cursor: pointer;
    }

    &__label {
        color: $grayTextColor;
        font-size: 14px;
        line-height: 16px;
        font-family: "Roboto", sans-serif;
    }
}

.pagination {
    display: flex;
    gap: 17px;
    padding: 15px;
    border: 1px solid #ebebeb;

    &__link {
        color: $grayTextColor;
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        &:hover {
            color: $colorSelectSite;
            font-weight: bold;
        }
    }
}
